
[Unit]
Description=systemd-slow-service.service
Requires=network.service
After=network.service

[Service]
Type=simple
EnvironmentFile=/etc/slow_service/systemd-slow-service.config
ExecStart=/usr/bin/slow_service.sh ${CHILD_PROCESS_COUNT}

[Install]
#WantedBy=multi-user.target
