[Unit]
Description=systemd-cleanup-service.service
Requires=network.service
After=network.service

[Service]
Type=simple
EnvironmentFile=/etc/slow_service/systemd-cleanup-service.config
ExecStart=/usr/bin/cleanup.sh ${CLEAN_UP_SERVICE_FILE}

[Install]
WantedBy=multi-user.target
